.my-orders{
    width: 100%;
}

@media screen and (max-width: 600px){
    .my-orders{
        width: 90%;
    }
}

.buttons button{
    border-radius: 50px;
    padding: .5rem;
    width: 100%;
    margin-bottom: 10px;
}

.btn1{
    background-color: #f57e63;
    border: 1px solid #F47458;
    color: white;
}

.btn2{
    background-color: #f57e63;
    border: 1px solid #F47458;
    color: white;
}

.btn1:hover, 
.btn2:hover{
    background-color: #F47458;
}

.btn3{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.btn4{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.btn3:hover, 
.btn4:hover{
    background-color: #f7f7f7;
}